<p id="notice"><%= notice %></p>

<p>
  <strong>Interes:</strong>
  <%= @tasas_de_interese.interes %>
</p>

<p>
  <strong>Meses:</strong>
  <%= @tasas_de_interese.meses %>
</p>

<%= link_to 'Edit', edit_tasas_de_interese_path(@tasas_de_interese) %> |
<%= link_to 'Back', tasas_de_intereses_path %>
